
# msvs2019 files
build/msvs2019/ICCAD202.*
build/msvs2019/x64
build/msvs2019/.vs

# msvs2022 files
build/_msvs2022
build/msvs2022/ICCAD202.*
build/msvs2022/.vs

# binaries
bin/*.pdb
bin/*.exe

# tests
bin/tests/aes_cipher_top/aes_cipher_top_result.def
bin/tests/ASAP7/LIB
